$break-small: 360px;
$black: #333;
$red: #800;
$green: #080;
$yellow: #f70;

.db-test {
  background-color: lighten($brand-color, 8%);
  color: $black;
  font-family: monospace;
  font-size: 12px;
  padding: 20px;
  text-transform: lowercase;

  .error {
    color: $red;
  }

  .suc {
    color: $green;
  }

  .warning {
    color: $yellow;
  }
  @media screen and (max-width: $break-small) {
    font-size: 16px;
    padding: 10px;
  }
}
